<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <configSections>
    <sectionGroup name="Paths">
      <section name="Local" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
    <sectionGroup name="SVN">
      <section name="UserInfo" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
    <sectionGroup name="QC">
      <section name="UserInfo" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

    
<Paths>
  <Local>
    <add key="localTAGFolderPath" value="D:\ZLI\Bureau\Livrason\TAGS\"/>
  </Local>
</Paths>
  
<SVN>
  <UserInfo>
    <add key="user" value=""/>
    <add key="password" value=""/>    
  </UserInfo>
</SVN>
  
<QC>
  <UserInfo>
    <add key="fullname" value="Zhiyuan LI"/>
    <add key="login" value="zli"/>  
    <add key="password" value=""/>  
  </UserInfo>
</QC>

</configuration>